.App {
  text-align: center;
}

body {
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.title {
  font-weight: 700;
  font-size: 20.75px;
  margin-right: auto;
}

.RandomImage {
  max-width: 100%;
  border-radius: 3px;
}

.generate {
  width: 477px;
  height: 40 px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.buttons {
  padding-top: 36px;
  height: 100%;
  width: 550px;
  margin: auto;
  background-color: white;
  padding-bottom: 15px;
}

.lastThing {
  width: 550px;
  margin: auto;
  background-color: white;

}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.buttonOne {
  width: 230px;
  margin-right: 9px;
  border: 1px solid D5D4D8;
  text-indent: 5px;
}

.bottom {
  bottom: 20px;
}

.top {
  top: 20px;
}

.meme {
  height: 100%;
  width: 550px;
  margin: auto;
  background-color: white;
  position: relative;
  padding: 36px;
}

.buttonTwo {
  width: 230px;
  margin-left: 8px;
  border: 1px solid D5D4D8;
  text-indent: 5px;
}

.project {
  font-weight: 500;
  font-size: 12px;
}

.TrollFace {
  height: 26.22px;
  width: 31.31px;
  display: inline-block;
  margin-right: 6px;
}

.NavBar {
  width: 550px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}